$color-main:  #2b2b2b;
$color-secondary: #3b3b3b;
$color-white: white;
$color-font: #858584;
$space-mono: "Space Mono", monospace;
$work-sans-helvetica: "Work Sans", Helvetica ;
$font-size-S: 12px;
$font-size-M: 16px;
$font-size-L: 22px;
$font-size-XL: 1px;
$font-size-XXL: 38px;